---
import Card from "../components/Card.astro";
import Layout from "../layouts/Base.astro";

---

<Layout title="404 - page not found">
  <main>
    <h1 class="text-gradient" style="text-align: center">~ 404 ~</h1>
    <Card
      title="Page not found"
      href="/"
      body="Go back to home" 
    />
  </main>
</Layout>

<style>
  :root {
    --gradient: linear-gradient(45deg, #f7ff00, #db36a4);
  }

  /* main {
    margin: auto;
    padding: 1em;
		max-width: 60ch;
  } */

  .text-gradient {
    font-weight: 900;
		background-image: var(--gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
  }
</style>