---
import AnchorCard from "../components/AnchorCard.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Base.astro";

---

<Layout title="404 - page not found">
  <main>
    <div class="text-gradient text-6xl text-center m-10 text-black dark:text-slate-400">
      ~ 404 ~
    </div>
    <div>
      <AnchorCard title="Page not found" href="/">Return to the home page</AnchorCard>
    </div>
  </main>
</Layout>

<style>
  :root {
    --gradient: linear-gradient(45deg, #f7ff00, #db36a4);
  }

  /* main {
    margin: auto;
    padding: 1em;
		max-width: 60ch;
  } */

  .text-gradient {
    font-weight: 900;
		background-image: var(--gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
  }
</style>