---
import AnchorCard from "../components/AnchorCard.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Base.astro";

---

<Layout title="Page not found">
  <main>
    <div class="bg-gradient-to-r from-[#f7ff00] to-[#db36a4] font-black bg-clip-text text-6xl text-center m-6 text-transparent">
      ~ 404 ~
    </div>
    <div class="max-w-2xl items-center mx-auto">
      <AnchorCard title="Page not found" href="/">Return to the home page</AnchorCard>
    </div>
  </main>
</Layout>