---
import Layout from '../layouts/Base.astro';
import Card from '../components/Card.astro';
---

<Layout title="This is ⚓anchor.">
	<main>
		<h1 style="text-align: center">This is <span class="text-gradient">⚓Anchor.</span></h1>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/tjalp/"
				title="tjalp's github profile"
				body="Check out my amazing profile!" 
			/>
			<Card
				href="https://github.com/tjalp/anchor/"
				title="Anchor's github repository"
				body="Take a look at this website's source code" 
			/>
			<Card
				href="/test"
				title="Test Page"
				body="Enter the test page"
			/>
			<Card
				href="/404"
				title="404"
				body="Enter the 404 page"
			/>
		</ul>
	</main>
</Layout>

<style>
	:root {
		/*
		#ED4264, #da62c4
		#085078, #85D8CE
		*/
		--astro-gradient: linear-gradient(0deg, #4776E6, #8E54E9);
	}

	h1 {
		margin: 2rem 0;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 100%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(48ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
