---
import AnchorCard from "../components/AnchorCard.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Base.astro";
---

<Layout title="Index">
  <main>
    <div class="text-6xl text-center m-6 text-black dark:text-slate-400">
      This is <span class="anchor-gradient font-black bg-gradient-to-t from-[#4776E6] to-[#8E54E9] bg-clip-text text-transparent">⚓Anchor.</span>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 p-0">
      <AnchorCard title="Toggle Dark Mode (WIP)">Switch between light and dark mode</AnchorCard>
      <AnchorCard title="Anchor Repository" href="https://github.com/tjalp/anchor/">Check out the source code of Anchor</AnchorCard>
      <AnchorCard title="tjalp's Profile" href="https://github.com/tjalp/">Take a look at tjalp's profile on GitHub</AnchorCard>
      <AnchorCard title="Test Page" href="/test">Enter the temporary test page</AnchorCard>
      <AnchorCard title="404" href="/404">Navigate to a non-existent page</AnchorCard>
    </div>
  </main>
</Layout>

<style>
  .anchor-gradient {
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 100%;
		}
	}
</style>