---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Test Page">
  <main>
    <Card href="/" title="Home Page" body="Enter the home page" />
  </main>
</Layout>
