---
import AnchorCard from "../components/AnchorCard.astro";
import Layout from "../layouts/Base.astro";
---

<Layout title="Test Page">
  <main>
    <div class="text-6xl text-center m-6 text-black dark:text-slate-400">
      Test Page
    </div>
    <div class="max-w-2xl items-center mx-auto">
      <AnchorCard title="Home Page" href="/">Enter the home page</AnchorCard>
    </div>
  </main>
</Layout>
